#!/usr/bin/make -f

PACKAGE              := $(DEB_SOURCE_PACKAGE)
VERSION              := $(shell echo $(DEB_UPSTREAM_VERSION) | sed -s "s/~alpha/-alpha-/")
JAVA_HOME            := /usr/lib/jvm/default-java
#DEB_JARS             := ant-nodeps slf4j-api qdox jdom1 plexus-container-default plexus-utils
#DEB_ANT_BUILD_TARGET := package #javadoc
#DEB_ANT_BUILDFILE    := /usr/share/maven-ant-helper/maven-build.xml
#DEB_ANT_ARGS         := -Dbasedir=$(realpath .) -Dpackage=$(PACKAGE)
API_DOCS             := target/api

%:
	dh $@

override_dh_install:
	mvn package
	mkdir -p debian/liboxford-dataox-describe-handler-java/usr/share/java
	cp target/*.jar debian/liboxford-dataox-describe-handler-java/usr/share/java/dataox-describe-handler.jar
	dh_install

#override_dh_clean:
#	mvn clean

